window#waybar {
  background-color: transparent;
  color: blue;
  font-family: "Nerd Font", Inter, sans-serif;
  font-size: 12.5pt;
}

/* Modules styling */
#workspaces button,
#clock,
#battery,
#network,
#custom-htop,
#mpris {
  padding: 0 10px;
}

#workspaces button.focused { text-decoration: underline; }

tooltip {
  background: rgba(0, 0, 0, 0.35);
  color: blue;
  border: 1px solid rgba(0, 162, 255, 0.5);
}

#waybar > * {
  border-left: 1px solid rgba(0, 162, 255, 0.2);
}
#waybar > *:first-child { border-left: none; }

